@import "base/variables"
@import "base/mixins"

*
  font-family: "Nunito", sans-serif
  padding: 0
  margin: 0
  box-sizing: border-box

.container
  max-width: 1140px
  margin: 0 auto
// media
  // 

// .promo
@import "blocks/promo/header"
@import "blocks/promo/promo"
@import "blocks/promo/submenu"
// sections
@import "blocks/realize"
@import "blocks/descriptions"
@import "blocks/features"
@import "blocks/audience"
@import "blocks/playVideo"
@import "blocks/marketing"

// media
@import "base/media"
// buttons
@import "blocks/buttons"
// links
@import "blocks/links"
// bubbles
@import "blocks/bubbles"
