@import "base/variables"
@import "base/mixins"
@import "base/media"

*
  font-family: "Nunito", sans-serif
  padding: 0
  margin: 0

.container
  max-width: 1140px
  margin: 0 auto

// .promo
@import "blocks/promo/header"
@import "blocks/promo/promo"
@import "blocks/promo/_submenu"

// buttons
@import "blocks/buttons"
