@import "base/variables"
@import "base/mixins"

*
  font-family: "Nunito", sans-serif
  padding: 0
  margin: 0
  box-sizing: border-box

.container
  max-width: 1140px
  margin: 0 auto

// .promo
@import "section/promo/header"
@import "section/promo/promo"
@import "section/promo/submenu"
// sections
@import "section/realize"
@import "section/descriptions"
@import "section/features"
@import "section/audience"
@import "section/playVideo"
@import "section/marketing"
@import "section/solution"
@import "section/skills"
@import "section/business"
@import "section/price"

// media
@import "base/media"
// buttons
@import "section/buttons"
// links
@import "section/links"
// bubbles
@import "section/bubbles"
// cards
@import "section/infoCard"
