.promo
	min-height: 240px
	padding: 24px 0 105px
	&__wrapper
		display: flex
		justify-content: space-between
		align-items: center
		margin-top: 26px
	&__nav
		display: flex
		justify-content: space-between
		align-items: center
		width: 540px
	&__logo

	&__menu
		display: flex
		justify-content: flex-start
		text-align: center
		list-style-type: none
		margin-left: 34px
	&__menu-item
		margin-right: 30px
	&__link
		text-decoration: none
	&__account
		display: flex
		align-items: center
		p
			font-weight: normal
			font-size: 16px
			color: #716C80
			margin: 0 8px 0
